body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.city-tile {

  display: inline-block;

  padding: 10px;

  border-radius: 10px;
  border: inset 2px grey;

  width: 400px;
  height: 400px;

  margin: 20px;
}

.city-tile h1 {
  margin: 0;
}

.city-tile img {
  max-width: 380px;
  margin: 15px 0px 15px 0px;
}

.steamLogin {
    background-image: url(http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png);
    width: 156px;
    height: 23px;
    margin-top: 14px;

}