
.container-fluid

    p.bg-danger(ng-if='errorMessage') {{errorMessage}}

    .city-tile(ng-repeat='c in cities')
        h1 {{c.name}}
        ul.stats
            li Population: {{c.pop}}

        .btn-group
            button.btn(ng-click='play(c)') Play
            a.btn(role='button',ng-href='#/city/{{c.id}}') Info