doctype html
html
    head
        title {{title}}
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='bower_components/angular/angular.min.js')
        script(src='bower_components/angular-route/angular-route.min.js')
        script(src='bower_components/angular-resource/angular-resource.min.js')
        script(src='js/app.js')
        script(src='js/services.js')
    body

        div(ng-app="theApp")
            .navbar.navbar-default(ng-controller='UserController')
                .container-fluid
                    .navbar-header
                    button.navbar-toggle.collapsed(
                        type="button",
                        data-toggle="collapse",
                        data-target="#bs-example-navbar-collapse-1",
                        aria-expanded="false")
                        span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    a.navbar-brand PassTheSkylines
                    u.nav.navbar-nav
                        li(ng-if='loggedIn')
                            p.navbar-text Welcome /u/{{user.name}}
                        li(ng-if='loggedIn')
                            button.navbar-btn.btn(type='button',ng-click='logout()') Logout
                        li(ng-if='!loggedIn')
                            button.navbar-btn.btn(type='button',ng-click='login()') Login

            .ng-view
